.account {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.accountContentWrapper {
  margin-bottom: 1rem;
}

.accountTitle {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.accountAmount {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.accountAmountDescription {
  font-size: 1rem;
  color: #888;
}

.cta {
  text-align: center;
}
