.features {
  padding: 2rem;
}

.featureItem {
  text-align: center;
  padding: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.featureIcon {
  width: 50px;
  height: 50px;
  margin-bottom: 1rem;
}

.featureItemTitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

@media (min-width: 920px) {
  .features {
    display: flex;
    justify-content: space-between;
  }

  .featureItem {
    flex: 1;
    margin: 0 1rem;
  }
}
